[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
etf-lab = {editable = true, path = "."}
beautifulsoup4 = "*"
yfinance = "*"
pandas-ta = "*"
python-dotenv = "*"
sqlalchemy = "*"
pymysql = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.8"
